In [ ]:
pip install mysql-connector-python

In [3]:
import mysql.connector

In [11]:
connection=mysql.connector.connect(host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",           
                              user="4TuZQhevixrKXDn.root",              
                              password="plut8plTY5XHB5ei",      
                              database="IMDB2",
                              allow_local_infile=True )

In [12]:
cursor=connection.cursor()

In [ ]:
cursor.execute("CREATE DATABASE IMDB2")

In [13]:
cursor.execute('use IMDB2')

In [15]:
cursor.execute("CREATE TABLE movie_details( movie_id int,MOVIE_NAME varchar(100),RATING float,VOTING_COUNT int,DURATION int,GENRE varchar(25))")

In [16]:
sql_query = (
    "LOAD DATA LOCAL INFILE 'C:/Users/LENOVO/Desktop/IMDB/merged_data_final.csv' "
    "INTO TABLE movie_details "
    "FIELDS TERMINATED BY ',' "
    "ENCLOSED BY '\"' "
    "LINES TERMINATED BY '\\n' "
    "IGNORE 1 LINES "
    "(movie_id, MOVIE_NAME, RATING, VOTING_COUNT, DURATION, GENRE)"
)

In [17]:
cursor.execute(sql_query)